/*--Colors retrieved from https://kuler.adobe.com/pumpkin-patch-color-theme-3042588/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20pumpkin%20patch&mode=rgb&rgbvalues=0.4285714285714624,0.56,0.18285714285714288,0.047058823529411764,0.5372549019607843,0.8588235294117647,0.9529411764705882,0.6313725490196078,0.00392156862745098,0.9529411764705882,0.4627450980392157,0.03529411764705882,0.7450980392156863,0.023529411764705882,0.00784313725490196&swatchOrder=0,1,2,3,4  */

body {
	background-color: #BBBE30;
	padding: 30pt;
	font-family: Georgia, Times, serif;
	letter-spacing: .2em;
}
h1, h2, h3 {
	background-color: #00A779;
	color :#FBFE72;
	padding: 5pt;
	font-family: "Cantora One";
	text-shadow: 2px 2px 2px #4E4F23;
}

p {
	background-color: #6D8F2F;
	color: #FFAA40;
	padding: 2pt;
	text-align: left;
}
p:first-letter {
	font-size: 250%;
}
p:first-line {
	font-weight: bold;
}
ol {
	background-color: #FBFE72;
	opacity: 0.7;
	font-size: 90%;
	font-style: italic;
	line-height: 1.4em;
	text-indent: 10pt;
}
#credits, a {
	font-family: "Courier New", Courier, monospace;
	letter-spacing: .06em;
	text-transform: uppercase;
}
h1 {
font-size: 200%;
}
h3 { 
font-size: 115%;
text-indent: 5pt;
}
a:link {
	color: deepblue;
	text-decoration: none;
}
a:visited {
	color: black;
}
a:hover {
	color: deepblue;
	text-decoration: underline;
}
a:active {
	color: lightblue;
}