body {
	font-size: 80%;
	font-family: Arial, Verdana, or sans-serif;
	letter-spacing: 0.15em;
    background-color: #efefef;
    }
		
#navigation {
	list-style-type: none;
	text-align: center;
	width: 625px;
	border-width: 2px 0px 1px 0px;
	border-color: #000000;
	border-style: solid;
	padding: 15px;
	margin: 0px auto 0px auto;
	}

#content {
	text-align: left;
	width: 600px;
	border: 4px double #000;
	margin: 20px auto 20px auto;
	overflow: hidden;
	}
	
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	}
	
a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
	}
#page {
	width: 960px;
	padding: 20px;
	margin: 10px auto 10px auto;
	
	}
#logo {
	width: 303px;
	}
li {
	margin: 0px auto 0px auto;
	display: inline;
	}
h1 {
	font-size: 150%;
}
h2 {
	font-size:133%;
}
h3 {
	font-size:125%;
}
#column1of2 {
	width:280px;
	float:left;
	margin: 5px;
	padding: 5px;
}
#column2of2 {
	width:280px;
	float:left;
	margin:5px;
	padding:5px;
}
#gallery_content {
	width:500px;
	margin:20px auto 20px auto;
	
}
div.entry {
	background-image: url("../images/shadow.png");
	background-repeat: no-repeat;
	background-position: bottom;
	font-size:70%;
	width:220px;
	height:220px;
	float:left; 
	margin-right:10px;

}
figure {
	width:202px; 
	height: 193px;
	margin:0px;
	padding: 9px;
	background-color: #e7e3d8;
}
figure img {
	width:200px;
	height:150px;
	border:1px solid #d6d6d6;
}
figcaption {
	background-image:url("../images/icon.png");
	background-repeat: no-repeat;
	background-position:left;
	padding-top:5px;
	padding-left:25px;
}
figcaption a {
	padding:0px;
}